<div class="header">
  <div class="row1">
      <a routerLink="Gallery"><i class="icon-home"></i>Galeria</a>
    <a class="facebook" href="https://es-la.facebook.com/fundacionbajoboulogne/" target="_blanck"><i class="icon-facebook"></i></a>
  </div>
  <div class="row2">
    <div class="column1">
      <img class="logo" [src]="logo" alt="Logo.jpg">
    </div>
    <div class="column2">
        <ul class="nav-web">
          <li><a routerLink=""><i class="icon-home"></i><br class="onPC">Inicio</a></li>
          <li><a routerLink="About"><i class="icon-users"></i><br class="onPC">Nosotros</a></li>
          <li><a routerLink="Workshops"><i class="icon-note-beamed"></i><br class="onPC">Talleres</a></li>
          <li><a routerLink=""><i class="icon-calendar"></i><br class="onPC">Eventos</a></li>
          <li><a routerLink=""><i class="icon-mail"></i><br class="onPC">Contacto</a></li>
          <li><a routerLink=""><i class="icon-emo-happy"></i><br class="onPC">Donaciones</a></li>
        </ul>
        <div class="nav-cell-cont blue semi-square">
          <select class="nav-cell" (change)="navigateTo($event.target.value)">
            <option value="/" >Inicio</option>
            <option value="About">Nosotros</option>
            <option value="Workshops">Talleres</option>
            <option value="">Eventos</option>
            <option value="">Contacto</option>
            <option value="">Donaciones</option>
          </select>
        </div>
      </div>
  </div>
</div>



