.header{
    display: inline-block;
    padding: 34px 0;
    width: 100%;
}

.header .row1 {
    display: block;
    position: relative;
    width: 94%;
    margin-left: 3%;
    height: 50px;
    background: #ff5b64;
    border-radius: 15px 15px 0 0;
}

.header .row1 .facebook {
    position: absolute;
    right: 35px;
    top: 10px;
    color: azure;
    font-size: 1.5em;
}

.header .row1 a {
    position: absolute;
    right: 120px;
    top: 12px;
    color: azure;
    font-size: 1.5em;
}

.header .row1::before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: #ffe99b;
    border-radius: 0 0 32px 0;
    left: 0;
    top: 0;
}

.header .row1::after{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background: #ffe99b;
    border-radius: 0 0 0 32px;
    right: 0;
    top: 0;
}

.header .row2{
    display: flex;
    position: relative;
    z-index: 1000;
    width: 94%;
    min-height: 11vw;
    margin-left: 3%;
    align-items: center;
    background: rgba(255,254,251,1);
    background: -moz-linear-gradient(top, rgba(255,254,251,1) 0%, rgba(255,232,150,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,254,251,1)), color-stop(100%, rgba(255,232,150,1)));
    background: -webkit-linear-gradient(top, rgba(255,254,251,1) 0%, rgba(255,232,150,1) 100%);
    background: -o-linear-gradient(top, rgba(255,254,251,1) 0%, rgba(255,232,150,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,254,251,1) 0%, rgba(255,232,150,1) 100%);
    background: linear-gradient(to bottom, rgba(255,254,251,1) 0%, rgba(255,232,150,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffefb', endColorstr='#ffe896', GradientType=0 );
    border-radius: 2px 2px 16px 16px;
    box-shadow: 0 10px 10px 5px #928e7c;
}

.header .row2 .column1, .header .row2 .column2{
    display: flex;
    float: left;
}

.header .row2 .column1{
    align-items: center;
    width: 30%;
}

.header .row2 .column2{
    width: 70%;
}

.header .row2 .nav-web {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.nav-web li {
    justify-content: space-around;
    margin: 2px;
    text-align: center;
    font-size: 2vw;
}

.header .row2 .nav-cell-cont {
    display: none;
    position: relative;
    width: 100%;
    height: 35px;
    background: url("../../assets/img/opArrow.png") no-repeat;
    background-position: 98% center;
    background-color: #3b8ec2;
    overflow: hidden;
    align-items: baseline;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

.header .row2 .column2 .nav-cell-cont select {
    background: transparent;
    appearance: none;
    border: none;
    font-size: 18px;
    color: #fff;
    height: 35px;
    width: 100%;
    padding-left: 20px;
    z-index: 1000;
}
.header .row2 .column2 .nav-cell-cont select option {
    background-color: #3b8ec2;
}

.logo {
    /*display: block;
    object-fit: scale-down;
    
    width: 50%;
    height: auto;*/
    display: block;
    width: 100%;
    height: auto;

}

.titulo {
    width: 65%;
    font-size: 2.5vw;
}

@media screen and (max-width: 720px) {
    .header .row1 .facebook {
        right: 35px;
        top: 10px;
        font-size: 1.3em;
    }
    
    .header .row1 a {
        right: 70px;
        top: 12px;
        font-size: 1.3em;
    }

    .header .row2{
        flex-direction: column;
        /*align-items: flex-end;*/
        height: auto;
    }
    
    .header .row2 .column1{
        width: 100%;
    }
    
    .header .row2 .column2 {
        display: block;
        position: relative;
        width: 100%;
        top: 5px;
    }

    
    .header .row2 .nav-web {
        display: none;
    }

    .header .row2 .nav-cell-cont {
        display: flex;
        bottom: 0;
    }
    
    .logo {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .titulo {
        width: auto;
        font-size: 2.5vw;
    }
}
  