.footer{
    display: flex;
    position: relative;
    background: #caba7d;
    color: rgb(104, 104, 104);
    margin-top: -150px;
    height: 150px;
    width: 100%;
}

.footer p{
    margin: auto auto;
}