.imageCont {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
    background: #ffffffa8;
    width: 100%;
    height: 200px;
    overflow: hidden;
    -webkit-clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 99%, 5% 100%, 0 95%, 0 5%);
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 95%, 95% 99%, 5% 100%, 0 95%, 0 5%);
}

.imageCont a {
    display: block;
    width: 100%;
}

.imageCont a .image {
    position: relative;
    max-width: 135%;
    max-height: 100%;
    transition: .5s ease;
}

.imageCont a .image:hover {
    opacity: .7;
    filter: alpha(opacity=70);
}