<div class="container">
  <div class="tab">
    <h3>EVENTOS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente nostrum sint quas doloribus ipsam libero sunt suscipit voluptate ut porro accusamus beatae quo rem fuga hic sed, repellat omnis?</p>
    <p class="last">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sapiente nostrum sint quas doloribus ipsam libero sunt suscipit voluptate ut porro accusamus beatae quo rem fuga hic sed, repellat omnis?</p>
    <app-facebook-link-events class="eventsLink"></app-facebook-link-events>
  </div>
</div>