<div class="container">
  <div class="tab">
    <h3>EVENTOS</h3>
    <p class="last">En cada evento intentamos plasmar los productos finales de los distintos procesos de enseñanza-aprendizaje. Y compartirlos con las Familias y comunidad.</p>
    <app-facebook-link class="eventsLink" text="EVENTOS" link="https://www.facebook.com/fundacionbajoboulogne/events/"></app-facebook-link>
    <app-facebook-link class="videosLink" text="VIDEOS" link="https://www.facebook.com/fundacionbajoboulogne/videos/"></app-facebook-link>
  </div>
</div>