.container {
    display: flex;
    position: relative;
    margin-top: 10px;
    margin-bottom: 50px;
    z-index: 10;
}

.tab {
    display: block;
    position: relative;
    width: 85%;
    background: #faf8ed;
    border: 8px solid #ffffff;
    border-radius: 8px;
    margin: 0 7.5%;
}

.tab::before{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: #ffe99b;
    border-right: 8px solid #ffffff;
    border-bottom: 8px solid #ffffff;
    border-radius: 0 0 46px 0;
    top: -8px;
    left: -8px;
}

.tab::after{
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    background: #ffe99b;
    border-left: 8px solid #ffffff;
    border-top: 8px solid #ffffff;
    border-radius: 46px 0 0 0;
    bottom: -8px;
    right: -8px;
}

p.last {
    margin-bottom: 60px;
}

.eventsLink{
    position: absolute;
    bottom: 25px;
    right: 50px;
}

@media screen and (max-width: 720px) {
    .tab {
        width: 98%;
        margin: 0 1%;
    }
    
    p.last {
        margin-bottom: 60px;
    }

    .tab::before{
        width: 20px;
        height: 20px;
    }
    
    .tab::after{
        width: 20px;
        height: 20px;
    }

    .eventsLink{
        position: absolute;
        bottom: 18px;
        left: 30px;
    }
}