<div class="content">
  <app-map></app-map>
  <div class="text">
    <table>
      <tr>
        <td><b>Dirección:</b></td>
        <td>Junin 2395, Boulogne, Buenos Aires</td>
      </tr>
      <tr>
        <td><b>Provincia:</b></td>
        <td>Provincia de Buenos Aires</td>
      </tr>
      <tr>
        <td><b>Teléfono:</b></td>
        <td>011 4710-3764</td>
      </tr>
      <tr>
        <td><b>Mail:</b></td>
        <td>----</td>
      </tr>
    </table>
    <!--<p><b>Dirección:</b> Junin 2395, Boulogne, Buenos Aires</p>
    <p><b>Provincia:</b> Provincia de Buenos Aires</p>
    <p><b>Teléfono:</b> 011 4710-3764</p>
    <p><b>Mail:</b> ---</p>-->
  </div>
</div>