<div class="container">

  <div class="tab">
    <h3>ARTE Y DISEÑO</h3>
    <p class="last">La Expresión artística ofrece a los Alumnos la posibilidad de plasmar su mundo interior, sus sueños, su fantasía e imaginación, así como explorar nuevas estructuras del pensamiento; El, como forma de representación y comunicación, emplea un lenguaje que permite expresarse a través del dominio de materiales plásticos y de distintas técnicas que favorecen el proceso creador.</p>
  </div>

  <div class="tab">
    <h3>COCINA - NUTRICION</h3>
    <p class="last">Propiciar actividades ricas en vivencias y significativas para los alumnos. Probar distintos alimentos, equilibrar ritmos, ingesta La cocina y el sentido de la humanidad es uno de los hábitos que nos identifica como especie. Propiciar que el taller de cocina sea una clase de aprendizaje global de las áreas curriculares y de valores de respeto y trabajo en equipo.</p>
  </div>

  <div class="tab">
    <h3>MUSICA - DANZA</h3>
    <p class="last">Favorecer mediante la música, en el desarrollo de la imaginación y la creatividad. Reforzando la autoestima y la personalidad. Adaptar la música a sus oídos, a su escucha; a su edad, para mejorar el aprendizaje, la coordinación, controlar la ansiedad y mejorar el estado de ánimo en los alumnos. Y ayudarles a organizarse a nivel interno. Lograr una estimulación musical en la que participen activamente, se promueve el desarrollo físico, mental, intelectual, sensorial y afectivo de los alumnos.</p>
  </div>

  <div class="tab">
    <h3>LITERARIO</h3>
    <p class="last">La literatura es un estímulo para fomentar en los Alumnos el hábito lector, ya que contribuye al desarrollo del lenguaje, la creación literaria e imaginación, puesto que admite vivir una serie de experiencias y situaciones que le ayudarán a adquirir mayor seguridad en sí mismo. La literatura, aparte de ser una auténtica y alta creación poética, que representa una parte importante de la expresión cultural del lenguaje y el pensamiento, ayuda poderosamente a la formación ética y estética de los Alumnos, al ampliarle su incipiente sensibilidad y abrirle las puertas de su aprendizaje interno. Motivar el disfrute y gozo con el ejercicio lector.</p>
  </div>

  <div class="tab">
    <h3>DEPORTE</h3>
    <p>No hay diferencia entre jugar y aprender, porque cualquier juego que presente nuevos desafios a los Alumnos, se ha de considerar como una oportunidad de aprendizaje. En el juego aprende con una facilidad notable porque los Alumnos están especialmente predispuestos para recibir lo que les ofrece la actividad lúdica y deportiva. La atención, la memoria y el ingenio se agudizan en el juego.</p>
    <p class="last">Utilizar la Educación Física y el deporte para favorecer el desarrollo personal Valorar la Plan Integral para la Actividad Física y el Deporte, la higiene y la salud, aceptar el propio cuerpo y el de los otros, respetar las diferencias. Conocer el funcionamiento del cuerpo humano, así como los efectos beneficiosos para la salud fisica y emocional del ejercicio físico del ejercicio físico.</p>
  </div>

  <div class="tab">
    <h3>RELAJACIÓN MEDITACION</h3>
    <p>Para lograr transitar por el camino del despertar de la Consciencia del Ser, es necesario en primer lugar mirarse a sí mismo, respetarse y tener un autoconcepto y autoestima elevado e integral. Conseguir que los alumnos desarrollen su YO de manera plena y así consigan mirar al mundo desde Ellos, sin influencias externas.</p>
    <p>Propiciar técnicas de meditación, concentración y relajación, que permitan a los alumnos escuchar su cuerpo y alma, saber con más certeza lo que quiere, Además, mejora las relaciones entre compañeros/as, reduce los niveles de estrés, incrementa la creatividad y reduce las emociones negativas.</p>
    <p class="last">Lograr un estado de conciencia plena, que no es otra cosa que estar conscientemente presente, queriendo comprender qué es lo que ocurre, desde su propio Ser; una actitud abierta y amable.</p>
  </div>

  <div class="tab">
    <h3>VIDA Y NATURALEZA</h3>
    <p>Estando en contacto con la tierra se aprende a amarla y a respetarla, a sentir que formamos parte de ella, que nos proporciona muchos recursos vitales, y que por lo tanto debemos cuidarla y protegerla.</p>
    <p>Trabajando con elementos tan primarios y vitales como la comida, el agua, la tierra y el sol, el huerto y los distintos cultivos nos proporciona el soporte idóneo para que se materialice el espíritu creativo de los Alumnos, de forma tangible.</p>
    <p class="last">Desarrollaremos la socialización y el trabajo en equipo, organizado, secuencializado, favoreceremos la valoración del propio trabajo y su relación con el aprecio a los productos conseguidos, la importancia de la constancia y el respeto de los tiempos de la naturaleza y su proceso.</p>
  </div>

  <div class="tab">
    <h3>CINE</h3>
    <p>La comunicación en el cine abarca imagen, sonidos (fonéticos y musicales), ruidos y señales, produciendo un reconocimiento y decodificación de lo observado. Una película es un libro de imágenes en movimiento, una representación simulada, una exposicion de mensajes que cada cual trata de descifrar en función de lo que conoce, de lo que busca o de lo que quiere encontrar.</p>
    <p>El cine puede actuar como instrumento educativo debido a su capacidad de formar e informar de forma distendida y ludica.</p>
    <p class="last">Permitir que los alumnos conozcan uno de los lenguajes audiovisuales en los que la interacción de los códigos verbales y no verbales es más rica y eficaz para la transmisión de significados.</p>
  </div>
  
</div>