<div class="container">
  <div class="tab">
  <h3>¿CÓMO COLABORAR?</h3>
  <ul id="list">
    <li>Donaciones corporativas</li>
    <li>Donación de empresas en conjunto con empleados o clientes</li>
    <li>Campañas de redondeo de vuelto</li>
    <li>Especies y productos</li>
    <li>Voluntariado</li>
  </ul>

  <p>Para más información comunicarse con Stella Maris Cabrera al 4710-3764</p>
  <p>o  por mail a fundacionbajoboulogne@live.com</p>
  </div>

  <div class="tab">
    <h3>OTRAS FORMAS DE DONAR</h3>
    <p>Depósito bancario o transferencia a Cuenta Corriente en Pesos a:</p>
    <ul id="list">
      <li>Fundación Bajo Boulogne</li>
      <li>CUIT 30-71091313-3</li>
      <li>N° de Cuenta 050097/5</li>
      <li>Banco Provincia - Sucursal Beccar (5065)</li>
      <li>CBU: 0140149901506505009753</li>
    </ul>
  </div>
</div>