<app-front-img></app-front-img>
<div class="container">
  <div class="tab">
    <h3>FUNDACIÓN BAJO BOULOGNE</h3>
    <p>La fundación se encuentra desde el año 1985 inserta en la comunidad del Bajo Boulogne, Partido de San Isidro, Provincia de Buenos Aires. Brindando una Educación integral que “parta de y respete” la propia cultura de la comunidad. A través del desarrollo de proyectos que contemplen las áreas de la Educacion, Salud y Social, tomando como factores referenciales lo ético y social.</p>
    <p class="last">En donde los protagonistas sean los niños, niñas, jóvenes y familias que conforman la comunidad, para que puedan constituirse como sujeto de derecho, actor social y hacedor de cultura, que lo contemple en su integridad.</p>
  </div>
</div>

